[submodule "ETC_Daemon"]
	path = ETC_Daemon
	url = https://github.com/critterandguitari/ETC_Daemon
[submodule "ETC_Controller"]
	path = ETC_Controller
	url = https://github.com/critterandguitari/ETC_Controller
