[submodule "ETC_Daemon"]
	path = ETC_Daemon
	url = https://github.com/critterandguitari/ETC_Daemon
[submodule "ETC_Controller"]
	path = ETC_Controller
	url = https://github.com/critterandguitari/ETC_Controller
[submodule "ETC_Sys"]
	path = ETC_Sys
	url = https://github.com/critterandguitari/ETC_Sys
[submodule "ETC_Mother"]
	path = ETC_Mother
	url = https://github.com/critterandguitari/ETC_Mother
