[submodule "ETC_Daemon"]
	path = ETC_Daemon
	url = https://github.com/critterandguitari/ETC_Daemon
[submodule "ETC_Controller"]
	path = ETC_Controller
	url = https://github.com/critterandguitari/ETC_Controller
[submodule "ETC_Sys"]
	path = ETC_Sys
	url = https://github.com/critterandguitari/ETC_Sys
[submodule "ETC_Mother"]
	path = ETC_Mother
	url = https://github.com/critterandguitari/ETC_Mother
[submodule "ETC_Modes"]
	path = ETC_Modes
	url = https://github.com/critterandguitari/ETC_Modes
[submodule "ETC_Manual"]
	path = ETC_Manual
	url = https://github.com/critterandguitari/ETC_Manual
[submodule "ETC_Web"]
	path = ETC_Web
	url = https://github.com/critterandguitari/ETC_Web
[submodule "ETC_Modes_Extra"]
	path = ETC_Modes_Extra
	url = https://github.com/critterandguitari/ETC_Modes_Extra
